node_modules
public/bundle.js
public/bundle.js.map
secrets.js
.DS_Store
npm-debug.log
yarn-error.log
public/sw.*
public/workbox-468c4d03.js
public/workbox-468c4d03.js.map
public/workbox-abaa1409.js
public/workbox-abaa1409.js.map
